<!DOCTYPE html>
<html lang="english">
  <head>
    <title>ContratarPremium - exported project</title>
    <meta property="og:title" content="ContratarPremium - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <div>
      <link href="{% static 'css/contratar-premium.css' %}" rel="stylesheet" />

      <div class="contratar-premium-container">
        <div class="contratar-premium-premium">
          <div class="contratar-premium-header">
            <div class="contratar-premium-close">
              <span class="contratar-premium-text">
                Registrate ahora y obtén 20% de descuento en tu primer mes.
              </span>
              <img
                alt="image"
                src="{% static 'public/external/frame1447-aly8.svg' %}"
                class="contratar-premium-image"
              />
            </div>
            <div class="contratar-premium-cabecera">
              <a href="/" class="contratar-premium-navlink">
                <div class="contratar-premium-logo">
                  <img
                    alt="gymlogo2png11441"
                    src="{% static 'public/external/gymlogo2png11441-szuo-200h.png' %}"
                    class="contratar-premium-gymlogo2png1"
                  />
                  <span class="contratar-premium-text01">
                    <span>FITLY GYM</span>
                  </span>
                </div>
              </a>
              <div class="contratar-premium-men">
                <a href="clases.html" class="contratar-premium-navlink1">
                  <div class="contratar-premium-clases">
                    <span class="contratar-premium-text03">
                      <span>Clases</span>
                    </span>
                  </div>
                </a>
                <a href="tarifas.html" class="contratar-premium-text05">
                  <span>Tarifas</span>
                </a>
                <a href="instalaciones.html" class="contratar-premium-text07">
                  <span>Instalaciones</span>
                </a>
                <a href="contacto.html" class="contratar-premium-text09">
                  <span>Contacto</span>
                </a>
              </div>
              <a href="/login" class="contratar-premium-navlink2">
                <div class="contratar-premium-acceso">
                  <span class="contratar-premium-text11">Login</span>
                </div>
              </a>
              <a href="/registro" class="contratar-premium-navlink3">
                <div class="contratar-premium-registro">
                  <span class="contratar-premium-text12">
                    <span>REGISTRATE</span>
                  </span>
                </div>
              </a>
            </div>
            <img
              alt="Line41448"
              src="{% static 'public/external/line41448-v4is.svg' %}"
              class="contratar-premium-line"
            />
          </div>
          <div class="contratar-premium-body">
            <div class="contratar-premium-pagina">
              <div class="contratar-premium-frame7">
                <a href="/" class="contratar-premium-text14">
                  <span>Home</span>
                </a>
                <img
                  alt="Frame2855"
                  src="{% static 'public/external/frame2855-zrgm.svg' %}"
                  class="contratar-premium-frame"
                />
                <a href="tarifas.html" class="contratar-premium-text16">
                  <span>Tarifas</span>
                  <br />
                </a>
                <img alt="Frame2855" src="{% static 'public/external/frame2855-zrgm.svg' %}" />
                <a
                  href="contratar-premium.html"
                  class="contratar-premium-text19"
                >
                  <span>Premium</span>
                  <br />
                </a>
              </div>
            </div>
            <div class="contratar-premium-container1">
              <span class="contratar-premium-text22">
                <span>Contratar Tarifa Premium</span>
                <br />
              </span>
              <div class="contratar-premium-premium1">
                <span class="contratar-premium-text25">
                  <span>PREMIUM</span>
                  <br />
                </span>
                <span class="contratar-premium-text28">59,99€</span>
                <span class="contratar-premium-text29">
                  <span>MENSUAL</span>
                  <br />
                </span>
              </div>
              <span class="contratar-premium-text32">
                <span>Introduce tus datos para contratar</span>
                <br />
              </span>
              <input
                type="text"
                name="user"
                value="Usuario"
                placeholder="placeholder"
                class="contratar-premium-textinput input"
              />
              <input
                type="text"
                name="password"
                value="Contraseña"
                placeholder="placeholder"
                class="contratar-premium-textinput1 input"
              />
              <select class="contratar-premium-select">
                <option value="Método de pago" selected="">
                  Elige método de pago
                </option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Domiciliación">Domiciliación</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
                <option value="Option 3">Option 3</option>
              </select>
              <div class="contratar-premium-pago-tarjeta">
                <span class="contratar-premium-text-domicilio">
                  <span>Pago con tarjeta</span>
                  <br />
                </span>
                <input
                  type="text"
                  name="Nombre y apellidos"
                  placeholder="Nombre y apellidos"
                  class="contratar-premium-fullname input"
                />
                <input
                  type="text"
                  name="card"
                  placeholder="Número de tarjeta"
                  class="contratar-premium-card input"
                />
                <input
                  type="text"
                  name="date"
                  placeholder="Fecha expiración"
                  class="contratar-premium-date input"
                />
                <input
                  type="text"
                  name="cvv"
                  placeholder="CVV"
                  class="contratar-premium-cvv input"
                />
              </div>
              <div class="contratar-premium-domiciliacin">
                <span class="contratar-premium-text-domicilio1">
                  <span>Domiciliación</span>
                  <br />
                </span>
                <input
                  type="text"
                  name="full_name"
                  placeholder="Nombre y apellidos del titular"
                  class="contratar-premium-fullname1 input"
                />
                <input
                  type="text"
                  name="iban"
                  placeholder="IBAN"
                  class="contratar-premium-card1 input"
                />
                <input
                  type="text"
                  name="DNI"
                  placeholder="DNI del titular"
                  class="contratar-premium-date1 input"
                />
                <input
                  type="text"
                  name="cvv"
                  placeholder="Dirección"
                  class="contratar-premium-cvv1 input"
                />
              </div>
              <a
                href="confirmacion-contrato.html"
                class="contratar-premium-navlink4 button"
              >
                <span>
                  <span>Contratar</span>
                  <br />
                </span>
              </a>
              <div class="contratar-premium-container2"></div>
            </div>
          </div>
          <div class="contratar-premium-footer">
            <div class="contratar-premium-info">
              <span class="contratar-premium-text42">
                <span>ESCOGE EL PLAN QUE MAS&nbsp;</span>
                <span>SE ADAPTE A TI</span>
              </span>
              <div class="contratar-premium-frame46">
                <div class="contratar-premium-frame3">
                  <img
                    alt="Frame2935"
                    src="{% static 'public/external/frame2935-8d8.svg' %}"
                  />
                  <span class="contratar-premium-text45">
                    <span>Introduce tu email</span>
                  </span>
                </div>
                <div class="contratar-premium-frame4">
                  <span class="contratar-premium-text47">
                    <span>Recibe información</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="contratar-premium-enlaces">
              <div class="contratar-premium-frame51">
                <div class="contratar-premium-frame50">
                  <img
                    alt="gymlogo2png12935"
                    src="{% static 'public/external/gymlogo2png12935-heao-200h.png' %}"
                    class="contratar-premium-gymlogo2png11"
                  />
                  <span class="contratar-premium-text49">
                    <span>FITLY GYM</span>
                  </span>
                </div>
                <div class="contratar-premium-social">
                  <div class="contratar-premium-frame1">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-rhte-200h.png' %}"
                      class="contratar-premium-bg"
                    />
                    <div class="contratar-premium-logotwitter2">
                      <div class="contratar-premium-group">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-w6rp.svg' %}"
                          class="contratar-premium-vector"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-premium-frame2">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-5ru-200h.png' %}"
                      class="contratar-premium-bg1"
                    />
                    <div class="contratar-premium-logofbsimple2">
                      <div class="contratar-premium-group1">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-ycn.svg' %}"
                          class="contratar-premium-vector1"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-premium-frame31">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-1xk-200h.png' %}"
                      class="contratar-premium-bg2"
                    />
                    <div class="contratar-premium-logoinstagram1">
                      <div class="contratar-premium-group2">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-ran.svg' %}"
                          class="contratar-premium-vector2"
                        />
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-b8ds.svg' %}"
                          class="contratar-premium-vector3"
                        />
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-j3hn.svg' %}"
                          class="contratar-premium-vector4"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-premium-frame41">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-e98-200h.png' %}"
                      class="contratar-premium-bg3"
                    />
                    <div class="contratar-premium-logogithub1">
                      <div class="contratar-premium-group3">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-dvkr.svg' %}"
                          class="contratar-premium-vector5"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contratar-premium-frame47">
                <span class="contratar-premium-text51">
                  <span>SERVICIOS</span>
                </span>
                <span class="contratar-premium-text53">
                  <span>
                    <span>Atención al cliente</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Servicios del Club</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Pase diario</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Reglamento intero</span>
                  </span>
                </span>
              </div>
              <div class="contratar-premium-frame52">
                <span class="contratar-premium-text68">
                  <span>Acerca de</span>
                </span>
                <span class="contratar-premium-text70">
                  <span>
                    <span>Nuestra visión</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Horarios</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Trabaja con nosotros</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Colaboraciones</span>
                  </span>
                </span>
              </div>
              <div class="contratar-premium-frame49">
                <span class="contratar-premium-text85">
                  <span>GIMNASIOS</span>
                </span>
                <span class="contratar-premium-text87">
                  <span>
                    <span>Madrid</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </div>
            <div class="contratar-premium-final">
              <span class="contratar-premium-text92">
                <span>fitly. © 2000-2023, All Rights Reserved</span>
              </span>
              <div class="contratar-premium-frame53">
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-4un.svg' %}"
                  class="contratar-premium-badge"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-efxe.svg' %}"
                  class="contratar-premium-badge1"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-7fbc.svg' %}"
                  class="contratar-premium-badge2"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-kc3o.svg' %}"
                  class="contratar-premium-badge3"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-a19e.svg' %}"
                  class="contratar-premium-badge4"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
