<!DOCTYPE html>
<html lang="english">
  <head>
    <title>ContratarBasico - exported project</title>
    <meta property="og:title" content="ContratarBasico - exported project" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background-color: var(--dl-color-gray-white);

      }
    </style>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
  </head>
  <body>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <div>
      <link href="{% static 'css/contratar-basico.css' %}" rel="stylesheet" />

      <div class="contratar-basico-container">
        <div class="contratar-basico-basico">
          <div class="contratar-basico-header">
            <div class="contratar-basico-close">
              <span class="contratar-basico-text">
                Registrate ahora y obtén 20% de descuento en tu primer mes.
              </span>
              <img
                alt="image"
                src="{% static 'public/external/frame1447-aly8.svg' %}"
                class="contratar-basico-image"
              />
            </div>
            <div class="contratar-basico-cabecera">
              <a href="/" class="contratar-basico-navlink">
                <div class="contratar-basico-logo">
                  <img
                    alt="gymlogo2png11441"
                    src="{% static 'public/external/gymlogo2png11441-szuo-200h.png' %}"
                    class="contratar-basico-gymlogo2png1"
                  />
                  <span class="contratar-basico-text01">
                    <span>FITLY GYM</span>
                  </span>
                </div>
              </a>
              <div class="contratar-basico-men">
                <a href="clases.html" class="contratar-basico-navlink1">
                  <div class="contratar-basico-clases">
                    <span class="contratar-basico-text03">
                      <span>Clases</span>
                    </span>
                  </div>
                </a>
                <a href="tarifas.html" class="contratar-basico-text05">
                  <span>Tarifas</span>
                </a>
                <a href="instalaciones.html" class="contratar-basico-text07">
                  <span>Instalaciones</span>
                </a>
                <a href="contacto.html" class="contratar-basico-text09">
                  <span>Contacto</span>
                </a>
              </div>
              <a href="/login" class="contratar-basico-navlink2">
                <div class="contratar-basico-acceso">
                  <span class="contratar-basico-text11">Login</span>
                </div>
              </a>
              <a href="/registro" class="contratar-basico-navlink3">
                <div class="contratar-basico-registro">
                  <span class="contratar-basico-text12">
                    <span>REGISTRATE</span>
                  </span>
                </div>
              </a>
            </div>
            <img
              alt="Line41448"
              src="{% static 'public/external/line41448-v4is.svg' %}"
              class="contratar-basico-line"
            />
          </div>
          <div class="contratar-basico-body">
            <div class="contratar-basico-pagina">
              <div class="contratar-basico-frame7">
                <a href="/" class="contratar-basico-text14">
                  <span>Home</span>
                </a>
                <img
                  alt="Frame2855"
                  src="{% static 'public/external/frame2855-zrgm.svg' %}"
                  class="contratar-basico-frame"
                />
                <a href="tarifas.html" class="contratar-basico-text16">
                  <span>Tarifas</span>
                  <br />
                </a>
                <img alt="Frame2855" src="{% static 'public/external/frame2855-zrgm.svg' %}" />
                <a href="contratar-basico.html" class="contratar-basico-text19">
                  <span>Básico</span>
                  <br />
                </a>
              </div>
            </div>
            <div class="contratar-basico-container1">
              <span class="contratar-basico-text22">
                Contratar Tarifa Básica
              </span>
              <div class="contratar-basico-basico1">
                <span class="contratar-basico-text23">BÁSICO</span>
                <span class="contratar-basico-text24">19,99€</span>
                <span class="contratar-basico-text25">
                  <span>MENSUAL</span>
                  <br />
                </span>
              </div>
              <span class="contratar-basico-text28">
                <span>Introduce tus datos para contratar</span>
                <br />
              </span>
              <input
                type="text"
                name="user"
                value="Usuario"
                placeholder="placeholder"
                class="contratar-basico-textinput input"
              />
              <input
                type="text"
                name="password"
                value="Contraseña"
                placeholder="placeholder"
                class="contratar-basico-textinput1 input"
              />
              <select class="contratar-basico-select">
                <option value="Método de pago" selected="">
                  Elige método de pago
                </option>
                <option value="Tarjeta">Tarjeta</option>
                <option value="Domiciliación">Domiciliación</option>
              </select>
              <div class="contratar-basico-pago-tarjeta">
                <span class="contratar-basico-text-domicilio">
                  <span>Pago con tarjeta</span>
                  <br />
                </span>
                <input
                  type="text"
                  name="Nombre y apellidos"
                  placeholder="Nombre y apellidos"
                  class="contratar-basico-fullname input"
                />
                <input
                  type="text"
                  name="card"
                  placeholder="Número de tarjeta"
                  class="contratar-basico-card input"
                />
                <input
                  type="text"
                  name="date"
                  placeholder="Fecha expiración"
                  class="contratar-basico-date input"
                />
                <input
                  type="text"
                  name="cvv"
                  placeholder="CVV"
                  class="contratar-basico-cvv input"
                />
              </div>
              <div class="contratar-basico-domiciliacin">
                <span class="contratar-basico-text-domicilio1">
                  <span>Domiciliación</span>
                  <br />
                </span>
                <input
                  type="text"
                  name="full_name"
                  placeholder="Nombre y apellidos del titular"
                  class="contratar-basico-fullname1 input"
                />
                <input
                  type="text"
                  name="iban"
                  placeholder="IBAN"
                  class="contratar-basico-card1 input"
                />
                <input
                  type="text"
                  name="DNI"
                  placeholder="DNI del titular"
                  class="contratar-basico-date1 input"
                />
                <input
                  type="text"
                  name="cvv"
                  placeholder="Dirección"
                  class="contratar-basico-cvv1 input"
                />
              </div>
              <button type="button" class="contratar-basico-button button">
                <a
                  href="confirmacion-contrato.html"
                  class="contratar-basico-navlink4"
                >
                  <span>Contratar</span>
                  <br />
                </a>
              </button>
              <div class="contratar-basico-container2"></div>
            </div>
          </div>
          <div class="contratar-basico-footer">
            <div class="contratar-basico-info">
              <span class="contratar-basico-text37">
                <span>ESCOGE EL PLAN QUE MAS&nbsp;</span>
                <span>SE ADAPTE A TI</span>
              </span>
              <div class="contratar-basico-frame46">
                <div class="contratar-basico-frame3">
                  <img
                    alt="Frame2935"
                    src="{% static 'public/external/frame2935-8d8.svg' %}"
                  />
                  <span class="contratar-basico-text40">
                    <span>Introduce tu email</span>
                  </span>
                </div>
                <div class="contratar-basico-frame4">
                  <span class="contratar-basico-text42">
                    <span>Recibe información</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="contratar-basico-enlaces">
              <div class="contratar-basico-frame51">
                <div class="contratar-basico-frame50">
                  <img
                    alt="gymlogo2png12935"
                    src="{% static 'public/external/gymlogo2png12935-heao-200h.png' %}"
                    class="contratar-basico-gymlogo2png11"
                  />
                  <span class="contratar-basico-text44">
                    <span>FITLY GYM</span>
                  </span>
                </div>
                <div class="contratar-basico-social">
                  <div class="contratar-basico-frame1">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-rhte-200h.png' %}"
                      class="contratar-basico-bg"
                    />
                    <div class="contratar-basico-logotwitter2">
                      <div class="contratar-basico-group">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-w6rp.svg' %}"
                          class="contratar-basico-vector"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-basico-frame2">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-5ru-200h.png' %}"
                      class="contratar-basico-bg1"
                    />
                    <div class="contratar-basico-logofbsimple2">
                      <div class="contratar-basico-group1">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-ycn.svg' %}"
                          class="contratar-basico-vector1"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-basico-frame31">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-1xk-200h.png' %}"
                      class="contratar-basico-bg2"
                    />
                    <div class="contratar-basico-logoinstagram1">
                      <div class="contratar-basico-group2">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-ran.svg' %}"
                          class="contratar-basico-vector2"
                        />
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-b8ds.svg' %}"
                          class="contratar-basico-vector3"
                        />
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-j3hn.svg' %}"
                          class="contratar-basico-vector4"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="contratar-basico-frame41">
                    <img
                      alt="BG2935"
                      src="{% static 'public/external/bg2935-e98-200h.png' %}"
                      class="contratar-basico-bg3"
                    />
                    <div class="contratar-basico-logogithub1">
                      <div class="contratar-basico-group3">
                        <img
                          alt="Vector2935"
                          src="{% static 'public/external/vector2935-dvkr.svg' %}"
                          class="contratar-basico-vector5"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="contratar-basico-frame47">
                <span class="contratar-basico-text46">
                  <span>SERVICIOS</span>
                </span>
                <span class="contratar-basico-text48">
                  <span>
                    <span>Atención al cliente</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Servicios del Club</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Pase diario</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Reglamento intero</span>
                  </span>
                </span>
              </div>
              <div class="contratar-basico-frame52">
                <span class="contratar-basico-text63">
                  <span>Acerca de</span>
                </span>
                <span class="contratar-basico-text65">
                  <span>
                    <span>Nuestra visión</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Horarios</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Trabaja con nosotros</span>
                    <br />
                    <span></span>
                    <br />
                    <span>Colaboraciones</span>
                  </span>
                </span>
              </div>
              <div class="contratar-basico-frame49">
                <span class="contratar-basico-text80">
                  <span>GIMNASIOS</span>
                </span>
                <span class="contratar-basico-text82">
                  <span>
                    <span>Madrid</span>
                    <br />
                    <span></span>
                  </span>
                </span>
              </div>
            </div>
            <div class="contratar-basico-final">
              <span class="contratar-basico-text87">
                <span>fitly. © 2000-2023, All Rights Reserved</span>
              </span>
              <div class="contratar-basico-frame53">
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-4un.svg' %}"
                  class="contratar-basico-badge"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-efxe.svg' %}"
                  class="contratar-basico-badge1"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-7fbc.svg' %}"
                  class="contratar-basico-badge2"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-kc3o.svg' %}"
                  class="contratar-basico-badge3"
                />
                <img
                  alt="Badge2935"
                  src="{% static 'public/external/badge2935-a19e.svg' %}"
                  class="contratar-basico-badge4"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
